<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragraments/header :: head"></head>
<body>
<header th:replace="fragraments/header :: header"></header>
<header th:replace="Admin/AdminHeader :: navbar"></header>

<div class="container mt-4">
    <h1>Všetci rečníci na prezentáciách</h1>
    <!--<a href="/MVC/admin/presentationhasspeakers/create" class="btn btn-primary mb-3">Pridať nového rečníka</a>-->
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Názov prezentácie</th>
            <th>Názov pódia</th>
            <th>Názov konferencie</th>
            <th>Meno rečníka</th>
            <th>Email rečníka</th>
            <th>Vytvorené</th>
            <th>Aktualizované</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="speaker : ${speakers}">
            <td th:text="${speaker.id}"></td>
            <td th:text="${speaker.presentation.id + '. ' + speaker.presentation.nameOfPresentation}"></td>
            <td th:text="${speaker.presentation.stage.id + '. ' + speaker.presentation.stage.nameOfStage}"></td>
            <td th:text="${speaker.presentation.stage.conference.id + '. ' + speaker.presentation.stage.conference.nameOfConference}"></td>
            <td th:text="${speaker.user.id + '. ' + speaker.user.firstName + ' ' + speaker.user.lastName}"></td>
            <td th:text="${speaker.user.email}"></td>
            <td th:text="${speaker.createdAt}"></td>
            <td th:text="${speaker.updatedAt}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
