<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragraments/header :: head"></head>
<body>
<th:block th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <!-- Button group for navigation -->
            <div class="btn-group" role="group" aria-label="Navigation">
                <a href="/MVC/admin/conferences" class="btn btn-primary">Conferences</a>
                <a href="/MVC/admin/stages" class="btn btn-outline-primary">Stages</a>
                <a href="/MVC/admin/presentations" class="btn btn-outline-primary">Presentations</a>
            </div>
        </div>
    </nav>
</th:block>
</body>
</html>
