<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragraments/header :: head">
    <style>
        /* Vlastný štýl pre aktívne tlačidlo */
        .btn-outline-primary.active {
            background-color: red;
            color: white;
            border-color: red;
        }
    </style>
</head>
<body>
<th:block th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <!-- Skupina tlačidiel pre navigáciu -->
            <div class="btn-group" role="group" aria-label="Navigácia">
                <a href="/MVC/admin/conferences" class="btn btn-outline-primary" id="conferences-link">Konferencie</a>
                <a href="/MVC/admin/stages" class="btn btn-outline-primary" id="stages-link">Scény</a>
                <a href="/MVC/admin/presentations" class="btn btn-outline-primary" id="presentations-link">Prezentácie</a>
                <a href="/MVC/admin/sponsors" class="btn btn-outline-primary" id="sponsors-link">Sponzori</a>
                <a href="/MVC/admin/sponsorshasconferences" class="btn btn-outline-primary" id="speakers-link">Sponzori a konferencie</a>
                <a href="/MVC/admin/users" class="btn btn-outline-primary" id="users-link">Užívatelia</a>
                <a href="/MVC/admin/presentationhasparticipants" class="btn btn-outline-primary" id="presentationhasparticipants-link">Prezentácie a účastníci</a>
                <a href="/MVC/admin/presentationhasspeakers" class="btn btn-outline-primary" id="PresentationHasSpeakers-link">Prezentácie a prednášajúci</a>
            </div>
        </div>
    </nav>
</th:block>

<script>
    // Získame aktuálnu URL cestu
    const currentPath = window.location.pathname;

    // Odstránime 'active' triedu zo všetkých navigačných odkazov
    const links = document.querySelectorAll('.btn-outline-primary');
    links.forEach(link => link.classList.remove('active'));

    // Pridáme 'active' triedu k odkazu, ktorý zodpovedá aktuálnej stránke
    if (currentPath === '/MVC/admin/conferences') {
        document.getElementById('conferences-link').classList.add('active');
    } else if (currentPath === '/MVC/admin/stages') {
        document.getElementById('stages-link').classList.add('active');
    } else if (currentPath === '/MVC/admin/presentations') {
        document.getElementById('presentations-link').classList.add('active');
    }
</script>
</body>
</html>
