<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragraments/header :: head"></head>
<body>
<header th:replace="fragraments/header :: header"></header>
<header th:replace="Admin/AdminHeader :: navbar"></header>

<div class="container mt-4">
  <h1>=Učastníci na prezentácií</h1>
  <!--<a href="/MVC/admin/presentationhasparticipants/create" class="btn btn-primary mb-3">Pridať nového účastníka</a>-->
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Názov konferencie</th>
      <th>Názov sc</th>
      <th>Názov prezentácie</th>
      <th>Dátum konferencie</th>
      <th>Začiatok</th>
      <th>Koniec</th>
      <th>ID používateľa</th>
      <th>Meno používateľa</th>
      <th> Priezvisko používateľa</th>
      <th>Email používateľa</th>
      <!--<th>Akcie</th>-->
    </tr>
    </thead>
    <tbody>
    <tr th:each="participant : ${participants}">
      <td th:text="${participant.id}"></td>
      <td th:text="${participant.presentation.stage.conference.id + '. ' + participant.presentation.stage.conference.nameOfConference}"></td>
      <td th:text="${participant.presentation.stage.id + '. ' + participant.presentation.stage.nameOfStage}"></td>
      <td th:text="${participant.presentation.id + '. ' + participant.presentation.nameOfPresentation}"></td>
      <td th:text="${participant.presentation.stage.conference.dateOfConference}"></td>
      <td th:text="${participant.presentation.startAt}"></td>
      <td th:text="${participant.presentation.endAt}"></td>
      <td th:text="${participant.user.id}"></td>
      <td th:text="${participant.user.firstName}"></td>
      <td th:text="${participant.user.lastName}"></td>
      <td th:text="${participant.user.email}"></td>
      <!--<td>
        <a th:href="@{'/MVC/admin/presentationhasparticipants/update/' + ${participant.id}}" class="btn btn-warning btn-sm">Upraviť</a>
        <a th:href="@{'/MVC/admin/presentationhasparticipants/delete/' + ${participant.id}}" class="btn btn-danger btn-sm">Vymazať</a>
      </td> -->
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>
