<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragraments/header :: head"></head>
<body>
<header th:replace="fragraments/header :: header"></header>
<header th:replace="Admin/AdminHeader :: navbar"></header>

<div class="container mt-4">
    <h1>Všetky scény</h1>
    <a href="/MVC/admin/stages/create" class="btn btn-primary mb-3">Vytvoriť novú scénu</a>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Id. Názov konferencie</th>
            <th>Dátum konferencie</th>
            <th>Stav konferencie</th>
            <th>Názov scény</th>
            <th>Komentár</th>
            <th>Vytvorené</th>
            <th>Upravené</th>
            <th>Akcie</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="stage : ${stages}">
            <td th:text="${stage.id}"></td>
            <td th:text="${stage.conference.id + '. ' + stage.conference.nameOfConference}"></td> <!-- Zmena formátu -->
            <td th:text="${#temporals.format(stage.conference.dateOfConference, 'yyyy.MM.dd')}"></td>
            <td th:text="${stage.conference.stateOfConference}"></td>
            <td th:text="${stage.nameOfStage}"></td>
            <td th:text="${stage.comment}"></td>
            <td th:text="${#temporals.format(stage.createdAt, 'yyyy.MM.dd HH:mm:ss')}"></td>
            <td th:text="${#temporals.format(stage.updatedAt, 'yyyy.MM.dd HH:mm:ss')}"></td>
            <td>
                <a th:href="@{'/MVC/admin/stages/update/' + ${stage.id}}" class="btn btn-warning btn-sm">Upraviť</a>
                <a th:href="@{'/MVC/admin/stages/delete/' + ${stage.id}}" class="btn btn-danger btn-sm">Vymazať</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
